#xp {
  background: url('https://i.ibb.co/YBbKmJp/background.png') no-repeat fixed center;
  background-size: cover;
  z-index: 0;
  position: absolute;
}

.desktop {
  position: absolute;
  z-index: 100;
  margin: 80px 15px 0px 30px;
  text-align: center;
  display: block;
  }

.desktop img {
  display: block;
  margin: 5px auto;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #0055ff;
  font-size: 18px;
  margin-bottom: 30px;
  }

ul p {
  color: white;
  font-size: 30px;
  margin: 0;
}

.desktop a {
  text-decoration: none;
}

/* МЕДИА-ЗАПРОСЫ */

/* @media (max-width: 768px) and (min-width: 320px) {

} */


@media (max-width: 1025px) and (min-width: 769px) {
  .desktop img {
    width: 90px;
  }

  p {
    font-size: 30px;
  }

  .desktop {
    margin: 80px 0 0 40px;
  }
}




@media (min-width: 769px) and (max-width: 1024px) {
  .desktop img {
    width: 70px;
  }

  p {
    font-size: 20px;
  }

  .desktop {
    margin: 50px 0 0 40px;
  }
}

@media (min-width: 320px) and (max-width: 768px) {
  .desktop img {
    width: 60px;
  }

  p {
    font-size: 20px;
  }

  .desktop {
    margin: 35px 0 0 40px;
  }
}
