body {
  overflow: hidden;
}

#xp {
  background: url('https://i.ibb.co/YBbKmJp/background.png') no-repeat fixed center;
  background-size: cover;
  z-index: 0;
  position: absolute;
}

.desktop {
  position: absolute;
  z-index: 100;
  margin: 80px 15px 0px 30px;
  text-align: center;
  display: block;
  }

  .start {
  background-color: #0055ff;
  height: 38px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 3px solid #0055ff;
  padding: 3px;
  z-index: 1000;
  padding-left: 25px;
  padding-top: 5px;
}


.start-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none;
  line-height: 25px;
  font-weight: bold;
  padding-top: 5px;
  padding-left: 47px;
  height: 100px;
  width: 70px;
  background-image: url('https://i.ibb.co/PxQ1kZ6/start.png');
  background-repeat: no-repeat;
  background-size: 40px;
  background-position: bottom 1px center 20px;
  background-color: #0055ff;
}
.start-btn.active {
  border-top: 2px solid #222;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-left: 2px solid #222;
}

.desktop img {
  display: block;
  margin: 5px auto;
}

p {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  color: #0055ff;
  font-size: 18px;
  margin-bottom: 30px;
  }
}

.start-menu {
  position: absolute;
  bottom: 38px;
  background: #c0c0c0;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  display: none;
}
.start-menu.open {
  display: block;
}
.start-menu .title-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 37px;
  height: 100%;
}
.start-menu .title-container .title {
  position: absolute;
  transform: rotate(-90deg);
  color: white;
  top: 430px;
  left: -51px;
  font-size: 25px;
  font-weight: bold;
}
.start-menu .title-container .title {
  font-weight: 100;
}
.start-menu hr {
  margin: 0 4px 0 40px;
}
.start-menu ul {
  margin: 0;
  padding: 0;
}
.start-menu ul li {
  padding: 18px 100px 18px 100px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 48px center;
  background-size: 33px;
}

.start-menu ul li:hover {
  background-color: #000184;
  color: white;
  cursor: pointer;
}

/* .start-menu {
  position: absolute;
  bottom: 38px;
   background: #c0c0c0;
  border-top: 2px solid white;
  border-right: 2px solid #222;
  border-bottom: 2px solid #222;
  border-left: 2px solid white;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  display: none;
}
.start-menu.open {
  display: block;
}
.start-menu .title-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 37px;
  height: 100%;
}
.start-menu .title-container .title {
  position: absolute;
  transform: rotate(-90deg);
  color: white;
  top: 430px;
  left: -51px;
  font-size: 25px;
  font-weight: bold;
}
.start-menu .title-container .title span {
  font-weight: 100;
}
.start-menu hr {
  margin: 0 4px 0 40px;
}
.start-menu ul {
  margin: 0;
  padding: 0;
}
.start-menu ul li {
  padding: 18px 100px 18px 100px;
  list-style: none;
  background-repeat: no-repeat;
  background-position: 48px center;
  background-size: 33px;
}
.start-menu ul li:hover {
  background-color: #000184;
  color: white;
  cursor: pointer;
} */
